a {
  font-size: 45px;
}

body {

  background-color: white;
  margin: auto;
  text-align: center;
}

a.yeet{
  text-align: center;
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: orangered;
  text-decoration: none;
  transition: color 2s ease;
}
a.yeet:hover{
  color: aquamarine;
}

img {
  width: 50%;
  position: absolute; top: 150px; right: 200px;
  
}
