body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.full {
  width: 100vw;
  height: 100vh;
}
#list-name {
  background-color: grey;
}
#anime-5 {
  transition: all 2s ease;
}
.thistle {
  background-color: thistle;
}
#anime-4 {
  background-color: steelblue;
}
.navy{
  background-color: navy;
}
#anime-3 {
  background-color: tan;
}
.black {
  background-color: black;
}
#anime-2 {
  background-color: plum;
}
.orchid {
  background-color: orchid ;
}
#anime-1 {
  background-color: olive;
}
.olivedrab {
  background-color: olivedrab ;
}
h1 {
  font-size: 5em;
  margin: 0;
  padding: 40vh 0 0 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  transition: all 2s ease;


}
span {
  transition: all 2s ease;
  cursor: pointer;
}
