body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.full {
  width: 100vw;
  height: 100vh;
}
#list-name {
  background-color: white;
}
#anime-5 {
  transition: all 2s ease;
}


#anime-4 {
  transition: all 2s ease;
}

.image1 {
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
}

#anime-3 {
  transition: all 2s ease;

}


#anime-2 {
  transition: all 2s ease;
}


#anime-1 {
  transition: all 2s ease;
}

h1 {
  font-size: 5em;
  margin: 0;
  padding: 40vh 0 0 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  transition: all 2s ease;


}
span {
  transition: all 2s ease;
  cursor: pointer;
}
